<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697053163850-0rv34t3135qr8ntcrjtk97h6uknngtrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697053163850-0rv34t3135qr8ntcrjtk97h6uknngtrk</string>
	<key>API_KEY</key>
	<string>AIzaSyBqcqJOgu6A_KK1mktAYsZGoBnNfHb67PM</string>
	<key>GCM_SENDER_ID</key>
	<string>697053163850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterHands</string>
	<key>PROJECT_ID</key>
	<string>yoasobi-app</string>
	<key>STORAGE_BUCKET</key>
	<string>yoasobi-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697053163850:ios:c8cce5f2d76230e340d1b3</string>
</dict>
</plist>